* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bcada3;
    color: #6b5547;
    display: flex;
    flex-flow: column nowrap;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.button {
color: white;
font-size: 2em;
}

.dino-button {
    background-color: #cc5500;
}

.cat-button {
    background-color: #007fff;
}

.dog-button {
    background-color: #2d572c;
}

.all-button {
    background-color: #6b5547;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
}

.title {
    width: 100%;
    text-align: center;
}

.animal-image {
    width: 100%;
    height: 300px;
}

.unordered-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.unordered-list li {
    width: 100%;
}

.dino {
    background-color: #edb059;
    border: 3px solid #cc5500;
}

.cat {
    background-color: lightblue;
    border: 3px solid #007fff;
}

.dog {
    background-color: lightgreen;
    border: 3px solid #2d572c;
}