* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bcada3;
    color: chocolate;
    display: flex;
    flex-flow: column nowrap;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.button .dino {
    background-color: #cc5500;
}

.button .cat {
    background-color: #007fff;
}

.button .dog {
    background-color: #2d572c;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
}

.title {
    width: 100%;
    text-align: center;
}

.animal-image {
    width: 100%;
    height: 300px;
}

.card .dino {
    background-color: #edb059;
    border: 3px solid #cc5500;
}

.card .cat {
    background-color: lightblue;
    border: 3px solid #007fff;
}

.card .dog {
    background-color: lightgreen;
    border: 3px solid #2d572c;
}